<p class="create-graph">
  <button id="create-graph">
    <i class="fas fa-plus"></i> {{ localize 'FvttGraph.CreateGraph' }}
  </button>
</p>
<small class="graph-version1" id="graph-version">v{{ version }}</small>
<div class="resources grid grid-2col">
  <div class="resource flex-group-center">
    <div class="resource-content flexrow flex-center flex-between">
      <div class="left flexcol">

        <label for="graph-select">Plot graph:</label>

        <select id="graph-select">
          <option value="">--Please choose an option--</option>
          {{#each graphs}}
          <option value="{{id}}" style="color:{{color}}">{{name}}</option>
          {{/each}}
        </select>

      </div>
      <div class="left flexcol">
        <button id="edit-graph">
          <i class="fas fa-plus"></i> {{ localize 'FvttGraph.EditGraph' }}
        </button>
        <button id="create-diagram">
          <i class="fas fa-plus"></i> {{ localize 'FvttGraph.CreateDiagram' }}
        </button>
        <button id="print-diagram">
          <i class="fas fa-plus"></i> {{ localize 'FvttGraph.PrintDiagram' }}
        </button>
      </div>

    </div>
  </div>
  <div class="resource flex-group-center">
    <div class="resource-content flexrow flex-center flex-between">
      <svg width="600" height="600" id="mygraph"></svg>
    </div>
  </div>
</div>