<div class="graph-controls">
  <i class="fas fa-info-circle help-icon" data-tooltip="{{instructions}}" data-tooltip-direction="UP">
  </i>
  <div class="flexrow">
    {{#if isLinkNodesVisible}}
    <button type="button" data-action="linkNodes" class="graph-btn">Link Nodes</button>
    {{/if}}
    <label for="relation-type">Relation Type:</label>
    <select id="relation-type">
      {{#each relations}}
      <option value="{{id}}" data-color="{{color}}" data-style="{{style}}">
        {{label}}
      </option>
      {{/each}}
    </select>
  </div>
  <div class="flexrow">
    <button data-action="exportAction" id="export-btn">🖼 {{localize "foundry-graph.Buttons.ExportSvg"}}</button>
    <button data-action="saveAction" id="save-btn" {{#unless isEdit}}disabled
      title='{{localize "foundry-graph.Window.ViewOnlyMode"}}' {{/unless}}>💾 {{localize
      "foundry-graph.Buttons.Save"}}</button>
  </div>
</div>