<div class="graph-controls">
  <button data-action="exportAction" id="export-btn">🖼 Export SVG</button>
  <div class="flexrow">
    <button type="button" data-action="linkNodes" class="graph-btn">Link Nodes</button>
    <label for="relation-type">Relation Type:</label>
    <select id="relation-type">
      {{#each relations}}
      <option value="{{id}}" data-color="{{color}}" data-style="{{style}}">
        {{label}}
      </option>
      {{/each}}
    </select>
  </div>
  <button data-action="saveAction" id="save-btn" {{#unless isEdit}}disabled title="View‑only mode"{{/unless}} >💾 Save</button>
</div>