<div class="flexrow" style="justify-content: space-between;">
    <button data-action="add" class="graph-btn">
        <i class="fas fa-plus"></i> {{localize "foundry-graph.Relations.AddNew"}}
    </button>
    <div>
        <button data-action="save" class="graph-btn"><i class="fas fa-save"></i> {{localize "foundry-graph.Buttons.Save"}}</button>
        <button data-action="cancel" class="graph-btn"><i class="fas fa-times"></i> {{localize "foundry-graph.Buttons.Cancel"}}</button>
    </div>
</div>