<div>
  <table class="graph-table">
    <thead>
      <tr>
        <th>{{localize "foundry-graph.Labels.User"}}</th>
        <th>{{localize "foundry-graph.Labels.Permission"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.name}}</td>
        <td>
          <select class="user-perm" data-userid="{{this.id}}">
            {{#each ../LEVELS}}
            <option value="{{this}}" {{#if (eq ../this.level this)}}selected{{/if}}>
              {{@key}} ({{this}})
            </option>
            {{/each}}
          </select>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <hr>

  <label>{{localize "foundry-graph.Labels.DefaultPermission"}}&nbsp;
    <select id="perm-default">
      {{#each LEVELS}}
      <option value="{{this}}" {{#if (eq ../defaultLevel this)}}selected{{/if}}>
        {{@key}} ({{this}})
      </option>
      {{/each}}
    </select>
  </label>
</div>