{{!-- Individual Tab Template --}}
<section class="tab {{tabs.listGraph.id}} {{tabs.listGraph.cssClass}}" data-tab="{{tabs.listGraph.id}}"
  data-group="{{tabs.listGraph.group}}">
  {{!-- Tab content here --}}
  <div class="listGraph-details">
    <!-- form fields, etc. -->
    <table class="graph-table">
      <thead>
        <tr>
          <th>{{localize "foundry-graph.List.Name"}}</th>
          <th>{{localize "foundry-graph.List.Description"}}</th>
          <th style="width: 200px">{{localize "foundry-graph.List.Actions"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each graphs}}
        <tr data-graph-id="{{this.id}}">
          <td style="color: {{ this.color }}">{{this.name}}</td>
          <td>{{this.desc}}</td>
          <td class="flexrow">
            <button type="button" class="icon fa-solid fa-pencil" data-tooltip="foundry-graph.tooltip.edit"
              data-action="graphEdit" data-id="{{this.id}}"></button>
            <button type="button" class="icon fa-light fa-hexagon-nodes-bolt"
              data-tooltip="foundry-graph.tooltip.openGraph" data-action="onOpenGraph" data-id="{{this.id}}"></button>
            <button type="button" class="icon fa-solid fa-trash" data-tooltip="foundry-graph.tooltip.delete"
              data-action="graphDelete" data-id="{{this.id}}"></button>
            <button type="button" class="icon fa-solid fa-user-lock" data-tooltip="foundry-graph.tooltip.permissions"
              data-action="graphPerms" data-id="{{this.id}}"></button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>