.circular-node {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

.circular-node img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.graph-table {
  margin: 0 !important
}

svg image {
  cursor: move;
  pointer-events: all;
  user-select: none;
}

#d3-graph {
  border: 1px solid #888;
  display: block;
  max-width: 100%;
  overflow: auto;
}


.graph-btn.active {
  background-color: #4CAF50; /* green */
  color: white;
  border: 1px solid #3e8e41;
}

.graph-btn {
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #ccc;
  cursor: pointer;
}
